@font-face {
  font-family: 'Abel';
  src: url('/assets/fonts/Abel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bungee Hairline';
  src: url('/assets/fonts/BungeeHairline-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pontano Sans';
  src: url('/assets/fonts/PontanoSans-Regular.ttf') format('truetype');
}

/* Base Styles */
/* =========== */
html, body {
  background-color: #FAFFFD;
  color: #454851;
  text-rendering: optimizeLegibility !important;
}

.site-wrapper {
  position: relative;
  overflow: hidden;
}

:root {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
}

.loading {
  font-size: 1rem;
}

@media (max-width: 500px) {
  .section-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 715px) {
  p {
    font-size: 0.9em;
  }
}

/* Sections */
/* ======== */
.section-title {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 0.5em 0;
  font-family: 'Bungee Hairline', system-ui;
}

.landing-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

.dark {
  background-color: #454851;
  color: #f3f3f3;
}

/* Landing Section */
/* =============== */
#canvas {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.3;
}

@media (max-device-width: 1024px) {
  #canvas {
    display: none;
  }
}

.word-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.first, .last {
  font-family: 'Abel', sans-serif;
  font-size: 5rem;
  display: inline-block;
  margin: 0.1em;
}

@media (max-width: 480px) {
  .first, .last {
    font-size: 3rem;
  }
}

.first {
  animation: fade-down 1.5s ease-out forwards;
  opacity: 0;
  z-index: 3;
}

.last {
  animation: fade-up 1.5s ease-out forwards;
  opacity: 0;
  z-index: 3;
}

.cipher {
  font-family: 'Bungee Hairline', system-ui;
  font-size: 1.8rem;
  animation: fade-in 1.5s ease-out 1s forwards;
  opacity: 0;
  z-index: 3;
}

@media (max-width: 480px) {
  .cipher {
    font-size: 1rem;
  }
}

.arrow {
  font-size: 2rem;
  color: #454851;
  z-index: 3;
}
.arrow:hover {
  cursor: pointer;
  color: #686d7a;
}

/* Showcase Sections */
/* ================= */
.section-content {
  width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.showcase {
  max-width: 400px;
  min-width: 300px;
  margin: 1em;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.showcase:hover .underbar {
  width: 100%;
}

.showcase-title {
  font-size: 1.5rem;
  width: 100%;
}

.showcase-title h3 {
  font-family: 'Abel', sans-serif;
  text-align: left;
  padding: 0.3em;
  margin: 0.1em auto;
}

.showcase-title .underbar {
  width: 0;
  height: 0;
  border: none;
  margin: 0;
  border-top: 1px solid #454851;
  transition: width 300ms ease;
}

.dark .showcase-title .underbar {
  border-top-color: #f3f3f3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .showcase-title .underbar {
    width: 100%;
  }
}

.showcase-image {
  width: 100%;
  height: 325px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.showcase-image a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.showcase-details {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1em;
  text-align: left;
  font-family: 'Pontano Sans', sans-serif;
}

.info-link {
  color: #75B09C;
  text-decoration: none;
}

.info-link:hover {
  color: #629485;
}

/* Bio Section */
/* =========== */
.bio-section {
  width: 100%;
  height: auto;
  padding: 0 1em 5em 1em;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 350px) {
  .bio-section {
    padding: 0 0 5em 0;
  }
}

.bio-container {
  width: 100%;
  max-width: 700px;
  margin: 0;
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

@media (max-width: 675px) {
  .bio-container {
    flex-flow: column nowrap;
  }
}

.avatar-image {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  margin: 0;
  background-color: #2E3138;
  background-image: url("/assets/img/bio/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 675px) {
  .avatar-image {
    margin: auto;
  }
}

.bio-details {
  width: 50%;
  min-width: 300px;
  margin: 0 0 0 1em;
}

.bio-details p {
  width: 100%;
  margin: 0;
  height: auto;
  font-family: 'Pontano Sans', sans-serif;
}

.bio-details .links {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.bio-details .links .link {
  margin: 0;
  width: 50px;
  height: 50px;
}

@media (max-width: 675px) {
  .bio-details {
    width: 300px;
    margin: auto;
  }

  .bio-details .links {
    margin: 1em auto;
  }
}

.codewars {
  background-image: url("/assets/img/bio/codewars_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.codepen {
  background-image: url("/assets/img/bio/codepen_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.linkedin {
  background-image: url("/assets/img/bio/linkedin_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.github {
  background-image: url("/assets/img/bio/github_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Footer Section */
/* ============== */
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

/* Animations */
/* ========== */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
      transform: translateY(-100%);
  }
  100% {
    opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
      transform: translateY(100%);
  }
  100% {
    opacity: 1;
      transform: translateY(0%);
  }
}
