* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fafafa;
  --text-color: #333;
  --button-bg-color: #ddd;
  --button-bg-hover-color: #cfcfcf;
  --input-border-color: #999;
  font-size: 16px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui;
  padding: 3rem 1rem 1rem;
}

h3 {
  font-size: min(5.7vw, 1.5rem);
  font-weight: 300;
}

fieldset {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  border: none;
  background: none;
  gap: 4px;

  input[type='search'] {
    color: inherit;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: inherit;
    border: 1px solid var(--input-border-color);
    border-radius: 0.2rem;
    width: clamp(50px, 100%, 500px);
  }

  button {
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    font-family: inherit;
    border: 1px solid var(--input-border-color);
    background: var(--button-bg-color);
    cursor: pointer;
    border-radius: 0.2rem;
    &:hover,
    &:focus-visible {
      background: var(--button-bg-hover-color);
    }
  }
}

dl {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow:
    1px 2px 2px 0px rgba(0, 0, 0, 0.2),
    2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch:w
  ;
  justify-content: flex-start;
  counter-reset: verse 0;

  &:hover {
    dd {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    counter-set: verse 1;
    max-width: 50ch;
    padding: 8px 0;
    &:before {
      content: counter(verse);
      font-size: 0.7rem;
      font-weight: bold;
      vertical-align: text-top;
      font-variant-numeric: tabular-nums;
      margin-right: 2px;
    }
  }
}

[data-hidden='true'] {
  display: none;
}
